In [111]:
import pandas as pd
import numpy as np

In [112]:
dataset = pd.read_csv('E:\\ML-DL projects\\Diamond_price_prediction\\notebooks\\data\\text.csv')

In [113]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416809 entries, 0 to 416808
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  416809 non-null  int64
 1   text        416809 non-null  object
 2   label       416809 non-null  int64
dtypes: int64(2), object(1)
memory usage: 9.5+ MB

In [114]:
dataset.duplicated().sum()

0

In [115]:
dataset['label'].value_counts()

label
1    141067
0    121187
3     57317
4     47712
2     34554
5     14972
Name: count, dtype: int64

In [116]:
dataset = dataset.iloc[:,1:]

In [117]:
print(dataset.shape)
print(dataset.columns)

(416809, 2)
Index(['text', 'label'], dtype='object')

In [118]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [119]:
nltk.download('stopwords')
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Aditya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [120]:
sample = dataset.iloc[:1000,:]

In [121]:
sample.head(1)

                                            text  label
0  i just feel really helpless and heavy hearted      4

In [122]:
# Tokenizing the documents
sample['tokens'] = sample['text'].apply(word_tokenize)

C:\Users\Aditya\AppData\Local\Temp\ipykernel_7384\3842291443.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['tokens'] = sample['text'].apply(word_tokenize)

In [123]:
sample.head(4)

,text,label,tokens
0,i just feel really helpless and heavy hearted,4,"[i, just, feel, really, helpless, and, heavy, ..."
1,ive enjoyed being able to slouch about relax a...,0,"[ive, enjoyed, being, able, to, slouch, about,..."
2,i gave up my internship with the dmrg and am f...,4,"[i, gave, up, my, internship, with, the, dmrg,..."
3,i dont know i feel so lost,0,"[i, dont, know, i, feel, so, lost]"

In [124]:
sample = sample.iloc[:,1:]

In [125]:
sample.head(2)

   label                                             tokens
0      4  [i, just, feel, really, helpless, and, heavy, ...
1      0  [ive, enjoyed, being, able, to, slouch, about,...

In [126]:

# Function to remove stop_words
def remove_stop_words(p_list):
    cleaned_stopwords = [word for word in p_list if word.lower() not in stop_words]
    return cleaned_stopwords

# Stemming
stemmer = PorterStemmer()
def stemming(cleaned_stopwords):
    stemmed_sent = [stemmer.stem(word) for word in cleaned_stopwords]
    return ' '.join(stemmed_sent)  # Return a list of stemmed words

In [127]:
for i in range(len(sample)):
    p_list = sample['tokens'][i]
    cleaned_stopwords = remove_stop_words(p_list)
    sample.loc[i,'tokens'] = stemming(cleaned_stopwords)

In [128]:
sample.head(4)

   label                                             tokens
0      4                   feel realli helpless heavi heart
1      0  ive enjoy abl slouch relax unwind frankli need...
2      4               gave internship dmrg feel distraught
3      0                                dont know feel lost

In [129]:
sample.head(3)

   label                                             tokens
0      4                   feel realli helpless heavi heart
1      0  ive enjoy abl slouch relax unwind frankli need...
2      4               gave internship dmrg feel distraught